@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-image: url('https://fullhdpictures.net/wp-content/uploads/2016/08/Wonderful-Party-Wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
</style>

<div id="test" class="meio">
    <p font size="6">​Bem Vindo</p> 
</div>

<div style="text-align: center;" style="margin-top: 8cm;"> 
    <a href="/CasasDeShow" >Casas</a>
    <a href="/Eventos">Eventos</a>   
</div>

